.App {
  text-align: left;
  background-color: var(--color-background-white);
}

.App-link {
  color: #61dafb;
}

.App-logo {
  pointer-events: none;
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: auto;
}

.App-header {
  background-color: var(--color-header);
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: calc(10px + 2vmin);
  padding: 0.5rem;
}

.MuiButton-root {
  text-transform: none !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

li {
  list-style-type: none;
}

.post {
  margin-bottom: 4em;
}

.post h4 {
  font-size: 2rem;
}

.selected-row-bg-color {
  background-color: var(--rdg-row-selected-background-color);
}

.has-error {
  background-color: rgba(241, 47, 44, 0.764);
}

.version-col {
  display: flex;
  align-items: center;
  justify-content: right;
}

.main-wrapper {
  display: flex;
  align-items: stretch;
  height: 1650px;
  padding-bottom: 1rem;
  background-color: var(--color-light-blue-30);
}

.parameter-and-riv-wrapper {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.riv-wrapper {
  display: flex;
  flex-grow: 1;
  min-height: 50vh;
}

.parameter-wrapper {
}

.map-wrapper {
  background-color: var(--color-light-blue-30);
  display: flex;
  flex-direction: column;
}

.map-wrapper-empty-space {
  background-color: var(--color-light-blue-50);
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
