.map-view-container,
.traffic-light-container {
  background-color: var(--color-container);
  padding: 1rem;
  padding-bottom: 0;
}

.map-view-container {
  padding-top: 0rem;
  height: 81%;
}

.map-view-content,
.traffic-light-content {
  background-color: var(--color-background-white);
  height: 100%;
}

/* .map-view-content {
  height: 80%;
} */
