.has-error {
  background-color: rgba(241, 47, 44, 0.764);
}

.App-logo {
  pointer-events: none;
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: auto;
}

.App-header {
  background-color: rgb(181, 220, 255);
  font-size: calc(10px + 2vmin);
  padding: 0.5rem;
}

.version-col {
  display: flex;
  align-items: center;
  justify-content: right;
}

.custom-tabs {
  /*background-color: var(--color-black-20);*/
}
