.main-tabs {
  background-color: var(--color-tab);
}

.main-tab {
  font-size: 1rem !important;
  text-transform: none !important;
}

.main-tab-active {
  background-color: var(--color-container) !important;
}

.main-tab-formik {
  flex: 1;
}

.main-tab-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-tab-container {
  background-color: var(--color-container);
  padding: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 0;
  height: 100%;
}

.main-tab-content {
  height: 100%;
  background-color: var(--color-background-white);
}

.riv-tabs-box {
  background-color: var(--color-container);
  padding: 1rem;
  padding-top: 0;
}

.riv-tabs {
  background-color: var(--color-tab);
}

.riv-tab {
  font-size: 1rem !important;
  text-transform: none !important;
}

.riv-tab-active {
  background-color: var(--color-background-white) !important;
}

.riv-tab-container {
  background-color: var(--color-background-white);
  padding: 1rem;
  padding-top: 0.5rem;
}

.riv-tab-content {
  background-color: var(--color-background-white);
}

.user-input-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-input-grid {
  flex-grow: 1;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.user-input-parameters {
  flex-grow: 1;
}

.user-input-grid-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-input-new-parameters {
  padding: 1rem;
}
