.App {
  text-align: left;
  background-color: rgb(181, 220, 255);
}

.App-link {
  color: #61dafb;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

li {
  list-style-type: none;
}

.post {
  margin-bottom: 4em;
}

.post h4 {
  font-size: 2rem;
}
