:root {
  --color-background-white: #ffffff;
  --color-header: #bebebe;
  --color-submit-button: #bebebe;
  --color-tab: #d8d8d8;
  --color-tab-text: #565656;
  --color-container: #f1f1f1;
  --color-table-container: #f6f6f6;
}

body {
  background-color: white;
  color: #282c34;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
